@import "tailwindcss";

/* Ocultar scrollbar pero mantener scroll funcional */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}